#header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    font-family: 'Tokyo-Regular', sans-serif;
    color: var(--color-2)
}

#end-content {
    font-family: 4rem;
}
