body {
    background-image: url(../assets/tokyo-map.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center;
}

#map-links {
    display: flex;
    flex-direction: column;
}