@font-face {
  font-family: 'Tokyo-Outline';
  src: url('/assets/Tokyo/Tokyo-Outline/Tokyo-Outline.ttf');
}
@font-face {
  font-family: 'Tokyo-Regular';
  src: url('/assets/Tokyo/Tokyo-Regular/Tokyo-Regular.ttf');
}
* {
  --color-1: #eee2df;
  --color-2: #f3efe0;
  --color-3: #f6f7eb;
  --color-4: #393e41;
  --color-5: #b0d0d3;
}

body {
  background-color: var(--color-1);
  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
  --gutter: 30px;
  --footer-height: 25px;

  font-family: 'Tokyo-Regular', 'Permanent Marker', sans-serif;
  color: var(--color-5);
  background-image: url('/assets/train-station.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
